{{#if currentUser}}
<h1>Welcome {{currentUser.username}}</h1>
<p>This is your profile page my friend!</p>
  <h2>Your Curiosities</h2>
  <ul>
    {{#each userCuriosities}}
      <li>
        <a href="/curiosities/{{this._id}}">
          {{this.title}}
        </a>
      </li>
    {{/each}}
  </ul>
{{else}}
  <h1>User not logged in.</h1>
{{/if}}
