<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />

<body>

    <h4>Welcome to the Museum of Discovery</h4>
    <p class="tex-block">Here wonder and history converge! Dive into a world of extraordinary finds and hidden gems. Our
        digital museum is
        your portal to a treasure trove of curiosities, each with a story waiting to be discovered. Unearth the past,
        marvel
        at the present, and join a community of fellow explorers on a journey through the world's most intriguing
        mysteries
        and artefacts.</p>

</body>