<div class="container text-center home-text">
    <div class="row mt-5 mb-5">
        <div class="col-12">
            <h1 id="welcome">Welcome to the <span style="color:#0b857d">Museum of Discovery</span></h1>
            <p class="lead mt-4">
                Here wonder and history converge! Dive into a world of extraordinary finds and hidden gems. Our
                digital museum is your portal to a treasure trove of curiosities, each with a story waiting to be discovered.
                Unearth the past, marvel at the present, and join a community of fellow explorers on a journey through
                the world's most intriguing mysteries and artifacts.
            </p>
        </div>
    </div>

    <div id="carouselControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <a href="/Natural Wonders" target="_self">
                    <img src="/images/natural-wonders.jpg" class="d-block w-100" alt="First Slide">
                    <div class="carousel-caption">
                        <h3 class="carousel-title">Natural Wonders</h3>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="/Curious Art" target="_self">
                    <img src="/images/curious-art.jpg" class="d-block w-100" alt="Second Slide">
                    <div class="carousel-caption">
                        <h3 class="carousel-title">Curious Art</h3>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="/Raving Relics" target="_self">
                    <img src="/images/raving-relics.jpg" class="d-block w-100" alt="Third Slide">
                    <div class="carousel-caption">
                        <h3 class="carousel-title">Raving Relics</h3>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="/Terrific Technology">
                    <img src="/images/terrific-technology.jpg" class="d-block w-100" alt="Fourth Slide">

                    <div class="carousel-caption">
                        <h3 class="carousel-title">Terrific Technology</h3>
                    </div>
                </a>
            </div>
            <div class="carousel-item">
                <a href="/Fascinating Finds" target="_self">
                    <img src="/images/fascinating-finds.jpg" class="d-block w-100" alt="Fifth Slide">
                    <div class="carousel-caption">
                        <h3 class="carousel-title">Fascinating Finds</h3>
                    </div>
                </a>
            </div>
        </div>
        <div>
            <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <script>
        $('.carousel').carousel({
            interval: 2000
        })
    </script>