<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>
    <nav>
      <a href="/">Home</a>
      <a href="/curiosities-create">Create Curiosity</a>
      <a href="/natural-wonders">Natural Wonders</a>
      <a href="/curious-art">Curious Art</a>
      <a href="/fascinating-finds">Fascinating Finds</a>
      <a href="/raving-reliques">Raving Reliques</a>
      <a href="/terrific-technology">Terrific Technology</a>
    </nav> 

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>