<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.18.0/font/bootstrap-icons.css">


  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>


  <nav class="navbar navbar-expand-lg bg-body-tertiary" style="background-color: #0b857d">
    <div class="container-fluid">
      <img src="/images/logo.png" alt="Museum Logo" width="120" height="auto">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon custom-toggler">
          <i class="fas fa-bars" style="color: #fffaf0 "></i>
        </span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mx-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Natural Wonders">Natural Wonders</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Curious Art">Curious Art</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Raving Relics">Raving Relics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Terrific Technology">Terrific Technology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/Fascinating Finds">Fascinating Finds</a>
          </li>
        </ul>
        {{#if user}}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/auth/user-profile">My Profile</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/curiosities/create">Create Curiosity</a>
          </li>
          <form action="/auth/logout" id="logout-form" method="GET" class="nav-item">
            <button class="nav-link">Logout</button>
          </form>
        </ul>

        {{else}}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/auth/signup">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/auth/login">Log In</a>
          </li>
        </ul>
        {{/if}}
        </ul>
      </div>
    </div>
  </nav>



  {{{body}}}

  <script src="/js/script.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
</body>

</html>