<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{{appTitle}}</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="/stylesheets/style.css" />
</head>

<body>
  <nav>
    <a href="/">Home</a>
    <a href="/curiosities/create">Create Curiosity</a>
    <a href="/Natural Wonders">Natural Wonders</a>
    <a href="/Curious Art">Curious Art</a>
    <a href="/Raving Reliques">Raving Reliques</a>
    <a href="/Terrific Technology">Terrific Technology</a>
    <a href="/Fascinating Finds">Fascinating Finds</a>

    <br>

    <a href="/auth/signup">Sign Up</a>
    <a href="/auth/login">Log In</a>
    <form action="/auth/logout" id="logout-form" method="GET">
      <button>Logout</button>
    </form>
  </nav>

  {{{body}}}

  <script src="/js/script.js"></script>
</body>

</html>