<h2>Update Curiosity</h2>

<form method="POST" action="/{{category}}/{{curiosities._id}}/edit">
    <label> Title:<span class="required-indicator">*</span>
        <input type="text" name="title" value="{{curiosities.title}}" />
    </label>

    <label> Date:
        <input type="date" name="date" />
    </label>

    <label> Description:<span class="required-indicator">*</span>
        
            <textarea type="text" name="title" cols="30" rows="4">{{curiosities.description}}</textarea>
        
    </label>

   <label> Category:
        <select name="category">
            <option value="Natural Wonders">Natural Wonders</option>
            <option value="Terrific Technology">Terrific Technology</option>
            <option value="Curious Art">Curious Art</option>
            <option value="Raving Reliques">Raving Reliques</option>
            <option value="Fascinating Finds">Fascinating Finds</option>
        </select>
    </label>

    <label> Image:<span class="required-indicator">*</span>
        <input type="file" name="image" accept="image/*"/>
    </label>


    <button type="submit">Save changes</button>
</form>
