<h1>Create a curiosity</h1>

<form method="POST" action="/curiosities/create" enctype="multipart/form-data">

    <label type="hidden" value="{{user.username}}"></label>

    <label> Title:<span class="required-indicator">*</span>
        <input type="text" name="title" required />
    </label>

    <label> Date:
        <select name="date">
            <option value="Old Stone Age">Old Stone Age (2.6 million to 10,000 BCE)</option>
            <option value="New Stone Age">New Stone Age (10,000 BCE to 3,000 BCE)</option>
            <option value="Bronze Age">Bronze Age (3,000 BCE to 1,200 BCE)</option>
            <option value="Iron Age">Iron Age (Begins around 1,200 BCE)</option>
            <option value="Classical Antiquity">Classical Antiquity (8th century BCE to the 6th century CE)</option>
            <option value="Medieval Period">Medieval Period (From the 5th century CE to the 15th century CE)</option>
            <option value="Renaissance">Renaissance (14th century CE to the 17th century CE)</option>
            <option value="Early Modern Period">Early Modern Period (Late 15th century CE to the 18th century CE)
            </option>
            <option value="Industrial Revolution">Industrial Revolution (Late 18th century CE to the mid-19th century
                CE)</option>
            <option value="Modern Era">Modern Era (Late 19th century CE to the present day)</option>
            <option value="Other">Other</option>
        </select>
    </label>

    <label> Description:<span class="required-indicator">*</span>
        <textarea name="description" cols="30" rows="4"></textarea>
    </label>

    <label> Category:
        <select name="category">
            <option value="Natural Wonders">Natural Wonders</option>
            <option value="Terrific Technology">Terrific Technology</option>
            <option value="Curious Art">Curious Art</option>
            <option value="Raving Reliques">Raving Reliques</option>
            <option value="Fascinating Finds">Fascinating Finds</option>
        </select>
    </label>

    <label> Image:<span class="required-indicator">*</span>
        <input type="file" name="image" class="form-control-file">
    </label>


    <button type="submit"> Create </button>
</form>